{{#partial "content"}}

    <div class="container">
        <div class="row">
            <div class="col-lg-8" id="content-panel">

            </div>
            <div class="col" id="edit-forms-container">-->
                <form action="/departments/add" method="post">
                    <div class="mb-3">
                        <label for="departmentName" class="form-label">Department Name</label>
                        <input type="text" class="form-control" name="departmentName" id="departmentName" aria-describedby="Department Name">
                        <div id="emailHelp" class="form-text">Please add a department name.</div>
                        <div id="emailHelp" class="form-text">Added department name: {{name}}</div>
                    </div>

                    <button type="submit" class="btn btn-primary">Add Department</button>

                </form>
            </div>
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}