<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Blog{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col" id="main-menu">
                main menu
            </div>
            <div class="col-8" id="display-screen">
                display
            </div>
<!--            <div class="col" id="edit-forms-container">-->
<!--                -->
<!--            </div>-->
        </div>
    </div>
    <div class="col-md-12" class>
        {{#block "content"}}


        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
        <div class="container">

        </div>
    </footer>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </html>
{{/block}}